In [1]:
import pandas as pd

## Initialization of a Pandas series

In [9]:
# Series as list
s1 = pd.Series([1, 2, 3, 4], index=["a", "c", "c", "d"]) # index is optional
print(s1)

# Series a dictionary
s2 = pd.Series({"name": "Janvier", "age": 5000})
print(s2)

a    1
c    2
c    3
d    4
dtype: int64

TypeError: Series.name must be a hashable type

## Pandas Series Indexing

In [14]:
print(s1[3])
print(s1[-3])
print(s1[1:])
print(s2[0])
print(s2[:-1])
print(s1[:-1])

4
2
c    2
c    3
d    4
dtype: int64
Janvier
name    Janvier
dtype: object
a    1
c    2
c    3
dtype: int64

## Operations on Pandas Series

##

In [18]:
# Addition, mult, div, diff
print(s1)
s3 = s1 + 2
print(s3)

s4 = s3  * 2
print(s4)

s5 = s4 / 2
print(s5)

s6 = s5 - 2
print(s6)

a    1
c    2
c    3
d    4
dtype: int64
a    3
c    4
c    5
d    6
dtype: int64
a     6
c     8
c    10
d    12
dtype: int64
a    3.0
c    4.0
c    5.0
d    6.0
dtype: float64
a    1.0
c    2.0
c    3.0
d    4.0
dtype: float64

## Pandas Dataframes: Initialization

In [39]:
import numpy as np


s1 = np.random.randint(low=10, high=10000000000, size=40).reshape((5, 8))
df = pd.DataFrame()
df["Price"] = s1[:, 0]
df["Quantity"] = s1[:, 1]
df["Value"] = s1[:, 2]
df.head()

        Price    Quantity       Value
0  3616229809  8930040427  8102738282
1  2320867354  6349981032  6557421433
2  2115586159  9046235580  4823577475
3   132286123   791266384  7258419020
4  1776396842  7465023603  4197821956

### Pandas Dataframes function

In [45]:
# mean, median, max, min
mean_df = df.mean()
print(mean_df)

print('--------------------------------------')

median_df = df.median()
print(median_df)

print('--------------------------------------')

max_df = df.max()
print(max_df)

print('--------------------------------------')

min_df = df.min()
print(min_df)

print('--------------------------------------')

Price       1.992273e+09
Quantity    6.516509e+09
Value       6.187996e+09
dtype: float64
--------------------------------------
Price       2.115586e+09
Quantity    7.465024e+09
Value       6.557421e+09
dtype: float64
--------------------------------------
Price       3616229809
Quantity    9046235580
Value       8102738282
dtype: int64
--------------------------------------
Price        132286123
Quantity     791266384
Value       4197821956
dtype: int64
--------------------------------------