In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [8]:
# Download and prepare the data

dataroot = "https://github.com/ageron/data/raw/main/"
lifesat = pd.read_csv(dataroot + "lifesat/lifesat.csv")
lifesat.head()

   Country  GDP per capita (USD)  Life satisfaction
0   Russia          26456.387938                5.8
1   Greece          27287.083401                5.4
2   Turkey          28384.987785                5.5
3   Latvia          29932.493910                5.9
4  Hungary          31007.768407                5.6

In [11]:
X = lifesat["GDP per capita (USD)"]
Y = lifesat["Life satisfaction"]
Y.head()

0    5.8
1    5.4
2    5.5
3    5.9
4    5.6
Name: Life satisfaction, dtype: float64